//- ns: todomvc.views.Hello

//- template: header
h1 Welcome
hr


//- t: menu
ul
    li main
    li articles
    li about


//- t: article
article
    h2 #{article.title}
    p
        | #{article.text}
